.btn,.img{
    margin-top: 20px;
  
    background-color: gray;
    display: flex;
    margin-left: 1000px;
    position: fixed;
    top: 0;
    left: 0;
    width: 48px; 
    border-radius: 90px;
    z-index: 1000; 
    height: 50px;
  }
  .btn,.img{
      opacity: 0.5;
  }

.asty{
    text-align: center;
    
    border-radius:30px ;
    background-color: #F2F3F5;
    width: 80px;
    height: 20px;
    margin-left:1000px;
    padding:10px;
}
.photo{
    display: flex;
    justify-content: center;
    margin-top: 20vh;
}
.under{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.photo2{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.soz{
    display: flex;
    justify-content: baseline;
    font-size: medium;
    margin-top: 5px;
    margin-left: 300px;
    font-size: 20px;
}
.soz2{
    margin-top: 30px;
    color: gray;
    font-size: 20px;
    margin-left: 300px;
}
.photo3{
    display: flex;
    justify-content: center;
    margin-top: 120px;
    gap:40px;
}
.photo4{
    display: flex;
    justify-content: center;
    margin-top: 120px; 
}
.photo5{
    display: flex;
    justify-content: center;
    margin-top: 120px;
    gap:40px; 
}
.photo6{
    display: flex;
    justify-content: center;
    margin-top: 120px; 
}
.photo7{
    display: flex;
    justify-content: center;
    margin-top: 120px;
    gap:40px; 
}
.photo8{
    display: flex;
    justify-content: center;
    margin-top: 120px; 
}
.photo9{
    display: flex;
    justify-content: center;
    margin-top: 120px;
    gap:40px; 
}
.photo10{
    display: flex;
    justify-content: center;
    margin-top: 120px; 
}
.fottext{
    display: flex;
    margin-top: 200px;
   text-align: center;
   font-size: 20px;
    flex-direction: column;
    
}
.end2{
    color: gray;
transition: opacity 5s ease-in-out;

}
.end2.visible {
   opacity: 1;
}
a{
    text-decoration: none;
    color: grey;
}
.oli{
    margin-left: 150px;
    margin-top: 200px;
}
.links{
    font-size: smaller;
    display: flex;
    flex-direction: row;
   gap:10px;
   margin-left:  140vh;
}
.text1{
    margin-top: 50px;
  
}
.text{
    display: flex;
    justify-items: center;
    font-size: 30px;
    margin-top: 20vh;
    margin-left: 650px;
}  